*{
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
    gap:1rem;
}
.todo{
    height: 100%;
    width: 30%;
    background-color: rgb(182, 192, 182);
    border: none;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap:0.7rem;
}
.progress{
    height: 100%;
    width: 30%;
    background-color: rgb(173, 190, 173);
    border: none;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap:0.7rem;
}
.Done{
    height: 100%;
    width: 30%;
   background-color: rgb(174, 194, 174);
    border: none;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap:0.7rem;
}
.box{
    width: 90%;
    border-radius: 1.5rem;
    height: 20%;
    background-color: rgb(80, 189, 153);
}